<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="RedMagic GameSpace Unlock">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Bypass com.zte.feature checks so RedMagic/Nubia GameSpace works on LineageOS" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:value="cn.zte.gamefloat,cn.nubia.gameassist" />
    </application>

</manifest>
